{% extends "lectures/base.html" %}

{% block title %}
    {{ block.super }}
    for talented organizers
{% endblock %}

{% block content %}

    <h2>Task list</h2>
        <a href="{% url 'lectures:create_task' %}">Add new task</a>

    {% for task in tasks %}
        <p>
            {{ task.title }}
            [{{ task.score }}]
            <a href="{% url 'lectures:update_task' task.pk %}">edit</a>
        </p>
    {% endfor %}

    <h2>Some other context data</h2>

    {% include 'lectures/list.html' %}

    <ul>
        <li>{{ user.name|capfirst }}</li>
        <li>{{ user.login }}</li>
        <li>{{ user.age }}</li>
    </ul>
{% endblock %}
