<ul>
    {% for number in list %}
        {# Don't print zero #}
        {% if number != 0 %}
            <li>{{ number }}</li>
        {% endif %}
    {% empty %}
        There are no numbers left!
    {% endfor %}
</ul>
